# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
.env

# Secrets
credentials.json
token.json

# Django
staticfiles/
media/

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db